.cart-title {
    padding: 12px;
    font-weight: bold;
    background: linear-gradient(90deg, #C0C0C0, #F0F0F0);
    color: #FFFFFF;
    border-bottom: solid 1px #C0C0C0;
}

.cart-footer {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #C0C0C0;
}

.cart-footer button {
    display: inline-flex;
    align-items: center;
    margin-left: 6px;
    margin-right: 6px;
}

.cart-footer img {
    padding-right: 4px;
}

.cart-delete {
    display: block;
    overflow: auto;
    margin: auto;
    position: absolute;
    height: 18px;
    cursor: pointer;
}

.cart-delete:hover {
    overflow: auto;
    margin: auto;
    position: absolute;
    height: 18px;
    cursor: pointer;
}

.cart-print {
    overflow: auto;
    margin: auto;
    position: absolute;
    height: 18px;
}

.cart-print:hover {
    overflow: auto;
    margin: auto;
    position: absolute;
    height: 18px;
    cursor: pointer;
}

.cart-list {
    display: block;
    margin: 1px;
    overflow: auto;
}

.cart-category-title {
    display: flex;
    width: calc(100% - 12px);
    height: 34px;
    overflow: hidden;
    font-weight: bold;
    padding-left: 12px;
    align-items: flex-end;
}

.cart-product {
    position: relative;
    width: calc(100% - 2px);
    margin: 1px;
    background-color: white;
    height: 34px;
    font-size: 20px;
    display: grid;
    grid-template-columns: calc(100% - 104px) 54px 34px;
    grid-gap: 5px;
}

.cart-card:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.cart-product-image {
    width: 100%;
}

.cart-product-name {
    margin: 0;
    width: calc(100% - 24px);
    height: 34px;
    padding-left: 24px;
    overflow: hidden;
    font-size: 14px;
}

.cart-product-category {
    margin: 0;
    margin-top: 7px;
    overflow: hidden;
    font-size: 14px;
}

.cart-product-input {
    width: 48px;
    height: 24px;
    border: solid 1px #C0C0C0;
    text-align: right;
    outline: none;
}

.cart-product-delete {
    width: 36px;
    height: 18px;
    margin-top: 4px;
    cursor: pointer;
}
